#login-dialog {
	width: 200px;
	margin: auto;
	margin-top: 150px;
}

.grid-login {
	background-color: #f2f2f2;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin-top: 8px;
	padding: 20px;
	width: 100%
}
.menu{
    padding-top:5px;
	font-family:fantasy;
	text-shadow: 1px 1px 2px #000000;
}
.menu a:hover{
	background-color: #3c3c3c;
	color: #eeeeee;
	box-shadow:0px 0px 5px #a6a6a6; 
	
}
