#login-dialog {
	        background: #1e94d2;
			height: 100%;
  			min-height: 100%;
  			display: -webkit-flex;
  			display: flex;
  			-webkit-align-items: center;
  			align-items: center;
  			-webkit-justify-content: center;
  			justify-content: center;
  			padding: 40px;
            border: 1px solid rgba(0, 0, 0, .3)"
}

.grid-login {
	background-color: #f2f2f2;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin-top: 8px;
	padding: 20px;
	width: 100%
}
.menu{
    padding-top:5px;
	font-family:fantasy;
	text-shadow: 1px 1px 2px #000000;
}
.menu a:hover{
	background-color: #3c3c3c;
	color: #eeeeee;
	box-shadow:0px 0px 5px #a6a6a6; 
	
}
.menu-sistema {
    border: 0px !important;
    padding: 0px !important;
    background: none !important;
}